__pycache__/
*.egg-info/
*.spec
*.log
*.db
*.sqlite
*.pypackage
*.egg
*.py[co]
.DS_Store
.env
.env.example
.tox/
.nox/
.mypy_cache/
.venv/
.eggs/
.local/
.secret/
dist/
build/
*.mo
*.pot
*.po
local_settings.py
db.sqlite3
db.sqlite3-journal
instance
.mypy_cache
.venv
.env.local
.env.development.local
.env.production.local
.env.test.local
.pytest_cache
